# Supabase Connection String (from Connect > URI)
DATABASE_URL="postgresql://postgres.[ID]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:6543/postgres"

# BetterAuth Secret (Generate one with `npx better-auth secret`)
BETTER_AUTH_SECRET=""

# BetterAuth URL (Base URL of your server)
BETTER_AUTH_URL="http://localhost:3000"

# CORS origin (URL of the frontend)
CORS_ORIGIN="http://localhost:5173"

# Frontend URL (used for trustedOrigins in BetterAuth)
FRONTEND_URL="http://localhost:5173"

# Google OAuth Credentials (from Google Cloud Console)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Birr js & chapa credentials
BIRRJS_SECRET_KEY=sk_dev_placeholder
CHAPA_WEBHOOK_SECRET=whsec_dev_placeholder
CALLBACK_URL=http://localhost:3000
